<% provide(:title, "Export Group") %>
<h2><%= @group.name %> export</h2>
<%= form_tag do %>
  <%= text_area_tag 'volunteers', render('volunteer_export', group: @group), class: "field span5", rows: 20, cols: 100, readonly: true%>
<% end %>
<pre>
  Copy and paste into google groups to import new google mailing list after removing 
  from a google group for a fresh start.
  Google will only let you import a limited number at a time. The dash lines act as 
  marker to help you copy and paste in batches.
</pre>
