@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
    color: #555;
  } 
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.volunteer_table {
  padding: 5px;
}

.volunteer_table th {
  background-color: #CCCCCC;
  text-align:left;
  padding-left: 3px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.volunteer_table tr.odd {
  background-color: #EEEEEE;
}
.volunteer_table tr.even {
  background-color: #CCCCCC;
}

.volunteer_table td {
  border-bottom: 1px solid black;
  padding: 5px;
}

.group_table {
  padding: 5px;
  width:500px;
}

.group_table th {
  background-color: #CCCCCC;
  text-align:left;
  padding-left: 3px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.group_table tr.odd {
  background-color: #EEEEEE;
}
.group_table tr.even {
  background-color: #CCCCCC;
}

.group_table td {
  border-bottom: 1px solid black;
  padding: 5px;
}

fieldset div {
  padding-left: 20px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }